<div class="text-center">
    <h2 style="font-family: 'Roboto', sans-serif">Chats <i class="fa fa-commenting"></i> </h2>
</div>
<br />

<table class="table">

    <tbody>
        <tr class="hoverable">
            <td>Mark Hobson</td>
            <td class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
            <td class="text-right">28/02/2002</td>
        </tr>
        <a>
            <tr class="hoverable">
                <td>Mark Hobson</td>
                <td class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
                <td class="text-right">28/02/2002</td>
            </tr>

        </a>
        <tr class="hoverable">
            <td>Mark Hobson</td>
            <td class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
            <td class="text-right">28/02/2002</td>
        </tr>
        
    </tbody>
</table>
