@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<div class="card" style="background-color:rgba(256,256,256, 0.9); border-radius: 15px;">
    <div class="card-block">

        <!--Header-->
        <div class="form-header dark-gradient" style="border-radius: 15px">
            <h3><i class="fa fa-user"></i> Reset Password</h3>
        </div>

        <!--Body-->
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input asp-for="NewPassword" class="form-control">
                <label asp-for="NewPassword">New password</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input asp-for="ConfirmPassword" class="form-control">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>
            <div class="text-center" style="margin-bottom: 20px">
                <button type="submit" class="btn btn-mdb">Reset</button>
                <hr />
            </div>
        </form>
    </div>
</div>
