@model ReSendConfirmationViewModel
@{
    ViewBag.Title = "Send Confirmation Email";
}
<div class="card" style="background-color:rgba(256,256,256, 0.9); border-radius: 15px;">
    <div class="card-block">

        <!--Header-->
        <div class="form-header dark-gradient" style="border-radius: 15px">
            <h3><i class="fa fa-user"></i> Forgot Password</h3>
        </div>

        <!--Body-->

        <form asp-controller="Account" asp-action="ReSendConfirmation" method="post">

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input asp-for="Email" class="form-control " autocomplete="off">
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger">@ViewBag.Error</span>
            </div>

            <div class="text-center" style="margin-bottom: 40px">
                <button type="submit" class="btn btn-mdb">Send Email</button>
                <hr />
                <a asp-controller="Account" asp-action="Login">Volgin</a>
            </div>
        </form>
    </div>
</div>
