@{
    ViewBag.Title = "Transition History";
}
<div class="text-center">
    
    <h2 style="font-family: 'Roboto', sans-serif"> <i class="fa fa-clock-o"></i> History </h2>
</div>
<br />
dsdsdsdsd
<table class="table z-depth-1">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Received Date</th>
            <th>Sent By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table">
            <th scope="row">1</th>
            <td>Contrato do Bob</td>
            <td>15/04/1998</td>
            <td>Amigo</td>
            <td>
                <a class="blue-text"><i class="fa fa-info-circle"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>
        <tr class="table-info">
            <th scope="row">2</th>
            <td>Contrato do Jacob</td>
            <td>15/04/1998</td>
            <td>Amigo</td>
            <td>
                <a class="blue-text"><i class="fa fa-info-circle"></i></a>
            </td>
        </tr>
        <tr class="table-danger">
            <th scope="row">3</th>
            <td>Contrato do Larry</td>
            <td>15/04/1998</td>
            <td>Amigo</td>
            <td>
                <a class="blue-text"><i class="fa fa-info-circle"></i></a>
            </td>
        </tr>
        <tr class="table-success">
            <th scope="row">4</th>
            <td>Contrato do Ferrari</td>
            <td>15/04/1998</td>
            <td>Amigo</td>
            <td>
                <a class="blue-text"><i class="fa fa-info-circle"></i></a>
            </td>
        </tr>
        <tr class="table-warning">
            <th scope="row">5</th>
            <td>Contrato do Cesar</td>
            <td>15/04/1998</td>
            <td>Amigo</td>
            <td>
                <a class="blue-text"><i class="fa fa-info-circle"></i></a>
            </td>
        </tr>
    </tbody>
</table>